.grid-container
{

    
    background-color: rgb(168, 78, 78);
    padding: 60px;
    display: grid;
    grid-template-rows:  auto auto;
    grid-template-columns: auto auto auto;
   
    grid-column-gap: 200px;
    grid-row-gap: 40px; 
    /* justify-content: first baseline; */
   
    /* flex-direction: row;
    flex-wrap: wrap-reverse; */
  
}

.grid-container > div {
   
   text-align: center;
    height: 90px;
    width: 100px;

    /* margin: 10px; */
    font-size: 20px;
    font-weight: 50px;
    color: rgb(243, 241, 239);
    background-color: rgb(138, 70, 123);
}